.dashboard {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    column-gap: 1.6rem;
    border: 1px solid #036d2a;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 48, 19, 0.2);
    background-color: #f8f9fa;
    color: #000f0a;
    background-image: linear-gradient(to right, #ffffff, #f0f2f5);
    font-weight: bolder;
}